.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

.question {
    font-size: 1.25rem;
    margin-bottom: 15px;
    color: #333;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
}

button {
  padding: 12px;
  margin: 8px 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e0e0e0;
}

/* button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
} */

button.next-button {
    background-color: #4caf50;
    color: white;
    border: none;
}

button.next-button:hover{
    background-color: #317334;
}

button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}

.score-data {
    font-size: 1.2rem;
    margin-top: 20px;
    color: #4caf50;
}